@{
    ViewBag.Title = "index";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Content/jquery-easyui-1.5.5.2/themes/default/easyui.css" rel="stylesheet" />
    <link href="/Content/jquery-easyui-1.5.5.2/themes/icon.css" rel="stylesheet" />
    <link href="/Content/admin.css" rel="stylesheet" />
    <script src="/Content/jquery-easyui-1.5.5.2/jquery.min.js"></script>
    <script src="/Content/jquery-easyui-1.5.5.2/jquery.easyui.min.js"></script>
    <script src="/Content/common.js"></script>
    <title></title>
    <style type="text/css">
        html{
            height:100%;

        }
        body{
            margin:0;
            padding:0;
            border:0;
            height:100%;
        }
    </style>
</head>
<body>
    <div style="margin: 10px 0;"></div>
	
	<table id="dg" title="权限列表" class="easyui-datagrid" style="width:100%;border:0;margin:0;padding:0;height:100%;"
            url ="/auth/getall"
			toolbar="#toolbar" pagination="true"
			rownumbers="true" fitColumns="true" singleSelect="true">
		<thead>
			<tr>
				<th field="ID" width="50">序号</th>
				<th field="Url" width="50">权限Url</th>
				
			</tr>
		</thead>
	</table>
	<div id="toolbar">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="createAuth()">Create</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editAuth()">Edit</a>
    </div>

    <div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:30px 20px"
			closed="true" buttons="#dlg-buttons">
		<form id="fm" method="post" novalidate>
			<div class="fitem">
				<label>权限Url:</label>
				<input name="Url" class="easyui-validatebox" required="true">
			</div>
            <input name="ID" type="hidden" />
		</form>
	</div>
	<div id="dlg-buttons">
		<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveRole()">Save</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
	</div>

</body>
</html>
<script type="text/javascript">
    var url;
    ////初始化查询条件
    //$(function () {
    //    InitPagenation();
    //});
    /////初始化分页
    //function InitPagenation() {
    //    //设置分页控件 
    //    var p = $('#dg').datagrid('getPager');
    //    $(p).pagination({
    //        //pageSize: 10, //每页显示的记录条数，默认为10 
    //        //pageList: [10, 20, 30], //可以设置每页记录条数的列表 
    //        onSelectPage: function (pageNumber, pageSize) {
    //            Query();
    //        }
    //    });
    //}

    //function Query() {
    //    //var wellNo = $('#inputWellNo').val(); //得到查询关键字--井号


    //    var opts = $('#dg').datagrid('options');
    //    var page = opts.pageNumber + 1; //获取页码
    //    var pageSize = opts.pageSize; //获取每页多少记录
    //    var handler = "/auth/GetPagination/?currentPage=" + escape(page);
        
    //    //var handler = "Ajax/GetWellListHandler.ashx?wellNo=" + escape(wellNo) + "&page=" + escape(page) + "&pageSize=" + escape(pageSize);

    //    $('#dg').datagrid('options').url = handler; //设置表格数据的来源URL
    //    //$('#dg').datagrid('reload'); //重新加载表格
    //}



    function createAuth() {
        $('#dlg').dialog('open').dialog('setTitle', '添加权限');
        $('#fm').form('clear');
        url = '/Auth/Create';
    }
    function editAuth() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', '编辑权限');
            $('#fm').form('load', row);
            url = "/Auth/Update";
        }
    }
    function saveRole() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                console.log(result);
                var result = eval('(' + result + ')');
                //console.log(result);
                if (result.success) {
                    $('#dlg').dialog('close');		// close the dialog
                    $('#dg').datagrid('reload');	// reload the user data
                } else {
                    $.messager.show({
                        title: 'Error',
                        msg: result.msg
                    });
                }
            }
        });
    }
</script>